.markdown__body {
  &:not(.library__example) {
    table {
      border-spacing: 0;
      border-collapse: collapse;;

      th {
        border-bottom: 2px solid $gray-medium;
        padding: 8px;
      }

      td {
        border-bottom: 1px solid $gray-medium;
        padding: 8px;
      }
    }
  }
}
